<div id="user_info">
  <h3>User : <%= current_user.name if current_user %> </h3>   
</div>

<div>
  <%= link_to "New Picture", new_picture_path %>
  <%= link_to "New Contact", new_contact_path %>
<div>

</br>
</br>
<div>
    <div id="groups_list">
      <%= link_to "Create Album", new_album_path %>

      <ul id="user_albums" style="list-style-type: none" >
        <% current_user.albums.each do |a| %>
          <li class="interface_box" style="background-color: #FFFFFF; width:200px; height:35px"><%= link_to a.name, a %></li>
          <br/>
        <% end %>
      </ul>
    </div> 
    
    <div id="albums_list" >
      <%= link_to "Create Group", new_group_path %>
      <ul id="user_albums"groups style="list-style-type: none" >
        <% current_user.groups.each do |g| %>
          <li class="interface_box" style="background-color: #FFFFFF; width:200px; height:35px"><%= link_to g.name, g %></li>
          <br/>
        <% end %>
      </ul>
    </div>
</div>

<div style="text-color:#fff">_</div>
