<% row_length = 10 %>
<h3>
  <%= @album.name %>
</h3>

<div>
  <%= link_to "Add Picture", add_picture_albums_path(:album_id => @album.id) %>
  <br/>
  <%= link_to "Remove Picture", remove_picture_albums_path(:album_id => @album.id) %>
  <br/>
  <%= link_to "View Public Album Page", public_view_album_path(:album_id => @album.id) %>
</div>

<br/>

<div>
  <%= form_for :album_mailer, :url => share_album_albums_path do |f| %>
    <%#= f.error_messages %>
    <%= f.hidden_field :id, :value => params[:id] %>
    <p>
      <%= f.select(:group_id, current_user.groups.collect{|g| [g.name, g.id]}) %>
      <%= f.submit "Share With Group" %>
    </p>

  <% end %>
</div>

<div>
  <%= form_for :album_mailer, :url => share_with_contact_album_path do |f| %>
    <%#= f.error_messages %>
    <%= f.hidden_field :id, :value => params[:id] %>
    <p>
      <%= f.select(:contact_id, current_user.contacts.collect{|c| ["#{c.name} - #{c.email}", c.id]}, { :include_blank => true }) %>
      <%= f.submit "Share Album with Contact" %>
    </p>
  <% end %>
</div>

<br/>

<h4>
  Pictures:
</h4>

<table id="user_images">
  <% @album.pictures.each_with_index do |p, ndx| %>
    <% if ((ndx%row_length) == 0) && (ndx!=0) %>
      <tr>
    <% end %>
      <td>
        <%= link_to(
          image_tag(p.image_url, :width => 72, :height => 72),
          p.image_url
        ) if p.image?
        %>
      </td>
    <% if ((ndx%row_length) == 0) && (ndx!=0) %>
      </tr>
    <% end %>  
  <% end %>
</table>
