<%= form_for @picture, :html => {:multipart => true} do |f| %>
  <%#= f.error_messages %>
  <%= f.hidden_field :user_id %>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
